<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zemoga.postdetail">

    <application>
        <activity
            android:name=".PostDetailActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="action.PostDetailActivity.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>